<img src="http://maps.googleapis.com/maps/api/staticmap?maptype=hybrid&size=300x400&format=png32&markers=color:blue%7Csize:mid%7Clabel:You%7C<%= @lat %>,<%= @long %>&markers=color:red%7Clabel:Goal%7C<%= @goal_lat %>,<%= @goal_long %>&sensor=true">
<p>    
  Heading: <%= @heading %> <br/>
  Distance: <%= @distance %>
</p>