<div data-role="page">
<p>
Old x: <%= @long %> </br>
New x: <%= @swing.long_end %> 
</p>
<p>
Old y: <%= @lat %> </br>
New y: <%= @swing.lat_end%>
</p>

<p>
Distance: <%= @hole.distance %> <br/>
Earth: <%= Swing::EARTHRADIUS %> <br/>
Heading: <%= @hole.heading %> <br/>
</p>