<div data-role="page">
<p>
Old x: <%= @long %> </br>
New x: <%= @goal_long%> 
</p>
<p>
Old y: <%= @lat %> </br>
New y: <%= @goal_lat%>
</p>

<p>
Distance: <%= @distance %> <br/>
Earth: <%= @earth %> <br/>
Heading: <%= @heading %> <br/>
</p>
<p> 
Long Component1: <%= @long_component1 %> <br/>
Long Component2: <%= @long_component2 %> <br/> 
</div>