<img src="http://maps.googleapis.com/maps/api/staticmap?maptype=hybrid&size=300x400&format=png32&markers=color:blue%7Csize:mid%7Clabel:You%7C<%= @lat %>,<%= @long %>&markers=color:red%7Clabel:Goal%7C<%= @hole.goal_lat %>,<%= @hole.goal_long %>&sensor=true">
<p>    
  Heading: <%= @heading %> <br/>
  Distance: <%= @distance %>
</p>
<ul class="homemenu">
      <li><a href="\Single\information_googlemaps">Maps view</a></li>
    </ul> 
<a href="#" id="update_distance">Update heading and distance</a>
<script type="text/javascript">
$(document).ready(function(){
	$("#update_distance").click(function(e){
		$.ajax({
			url: "update_heading_distance",
			type: "GET",
			success: function(data){
				$("#information").html(data)
			}
		})
	})	
});
</script>